html,
body {
    overscroll-behavior: none;
}

body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: var(--ui-font-body);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: white;
}

/* 
    screen-outer is used as a background layer, that 
    encompasses the full (dynamic) device width and height
    of the webview. This is then used to position the
    screen inner, which serves as content space.
*/
.screen-outer {
    display: flex;
    flex-direction: column;

    height: 100dvh;
    width: 100dvw;

    & .screen-inner {
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;

        flex-grow: 1;
        padding-bottom: env(safe-area-inset-bottom, 0);
        border-bottom-left-radius: env(safe-area-inset-left, 0);
        border-bottom-right-radius: env(safe-area-inset-right, 0);
    }
}

.background {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    inset: 0;
    filter: saturate(0.7);

    & img {
        object-fit: cover;
        height: 100%;
    }
}

.content {
    z-index: 1;
}

/* A content Divider is used to visually separate content */
.content-divider {
    width: 100%;
    height: 0.125rem;
    background: white;
}

/* Game Ui Overlay */
.overlay {
    position: fixed;
    inset: 0;
    z-index: 10000000000;
    pointer-events: none;
    padding: 0.5rem;
}

/* Avatar group */

.avatar-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: flex-start;
    width: 0;

    & .player-avatar {
        width: clamp(1.5rem, 10vw, 2.5rem);
        height: clamp(1.5rem, 10vw, 2.5rem);
        background: var(--color-avatar-bg);
        border: 2px solid var(--color-avatar-bg);
        border-radius: 100%;
        transition: 0.25s ease-in-out;
        box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.5);

        &[data-is-active="true"] {
            width: clamp(2.5rem, 15vw, 3.5rem);
            height: clamp(2.5rem, 15vw, 3.5rem);
            border-color: var(--color-avatar-active);
        }

        & img {
            width: 100%;
            height: 100%;
            aspect-ratio: 1 / 1;
        }
    }
}

/* Context Menu */
.context-shell {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-in 200ms;
    gap: 0.2rem;
    width: 0;
    height: 0;

    & .context-action {
        background: none;
        border: none;
        padding: 0;
        display: flex;
        translate: 0 -32px;

        &[disabled] {
            pointer-events: none;
            filter: brightness(0.5);
        }
    }
}

/* Tile Overview */

.tile-panel {
    position: fixed;
    bottom: 0;
    inset-inline: 0;
    background: white;
    color: black;
    padding: 1.25rem 1.5rem;
    margin: 0.5rem;
    border-radius: 1.75rem;

    & .tile-title {
        font-family: var(--ui-font-heading);
        font-size: 1.6rem;
    }

    & .tile-coordinates {
        font-family: var(--ui-font-heading);
        font-size: 1.2rem;
    }
}

/* Animations */

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
