/* Colors */

html {
    font-size: clamp(14px, 5vw, 18px);
}

:root {
    --color-avatar-bg: white;
    --color-avatar-active: red;

    --color-context-background: gray;
}

/* Font Setup */

:root {
    --ui-font-heading: "IM Fell DW Pica", serif;
    --ui-font-body: "IM Fell DW Pica", sans-serif;
}

/* Typography */

/* Layout */

.stack,
.row {
    display: flex;

    &.center {
        justify-content: center;
        align-items: center;
    }

    &.between {
        justify-content: space-between;
    }
}

.stack {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
